---
extends: ["@elastic/kibana", "@elastic/eslint-config-kibana/jest"]

settings:
  import/resolver:
    'node':
      paths: ["public", "node_modules", "../../node_modules"]
    '@kbn/eslint-import-resolver-kibana':
      rootPackageName: 'alerting
